* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light: #eff5ef;
  --light-alt: #f4ffec;
  --dark: #2a2a2a;
  --light-gray: #cecece;
  --green: #bdd995;
  --alternative-green: #a7c280;
  --medium-green: #4f573f;
  --dark-green: #2d3027;
  --bar: #a5bda3;
  --alternative-bar: #527459;
  --medium-yellow: #bab338;
  --olive: #8f9d79;
  --dark-gray: #767676;
  --transparent: #dddddd3f;
  --shadow: 2px 4px 10px rgba(0, 0, 0, 0.45);
  --transition: 0.35s all ease-in-out;
}

/* fonts */

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

h2 {
  font-size: 18px;
}

body {
  background: var(--light);
  color: var(--dark);
  min-height: 100svh;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.none {
  display: none !important;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.container {
  width: 90%;
  max-width: 1100px;
}

h1 {
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
}

form {
  padding: 30px;
  border-radius: 16px;
  background: (--light-gray);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  border: 1px solid var(--light-gray);
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 500px;
}

.inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.inputs > .input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputs > .w-50 {
  width: 50%;
}

input,
select {
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #c7cdd6;
  color: var(--dark);
  font-size: 14px;
}

input::placeholder {
  color: var(--dark-gray);
}

.buttons {
  display: flex;
  gap: 10px;
}

button {
  flex: 1;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.add {
  background: #22c55e;
  color: #022c22;
}

.add:hover {
  background: #16a34a;
}

.remove {
  background: #ef4444;
  color: #450a0a;
}

.remove:hover {
  background: #dc2626;
}

.transfer {
  background: #c9c9c9;
  color: #292929;
}

.transfer:hover {
  background: #eeeeee;
}

.cash {
  margin-top: 20px;
  padding: 15px;
  background: #334155;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.historic {
  margin-top: 15px;
  max-height: 150px;
  overflow-y: auto;
  font-size: 13px;
  color: #cbd5f5;
}

.historic-item {
  padding: 8px;
  border-bottom: 1px solid #475569;
}

/* dashboard */

.dashboard {
  display: flex;
  width: 100%;
  height: 100%;
}

/* aside */
aside {
  background-image: url("../images/background.webp");
  box-shadow: var(--shadow);
  border-radius: 0 20px 0 0;
  background-size: cover;
  width: 20%;
  position: relative;
  min-height: 100svh;
  height: auto;
  overflow: visible;
  transition: var(--transition);
}

aside.short {
  width: 5%;
  min-width: 70px;
}

aside.short .aside-logo img {
  content: url("../images/marketpay-mob.webp");
}

aside.short .menu p {
  display: none;
}

aside.short .aside-content {
  width: 100%;
}

aside.short .menu {
  padding: 15px;
}

aside.short .menu li a {
  justify-content: center;
  padding: 0;
  align-items: center;
  width: 100%;
  height: 45px;
}

aside.short .aside-logo img {
  width: 35px;
  margin: 0 auto;
  margin-right: 13px;
}

aside.short .leave p {
  display: none;
}

.aside-content {
  height: 100vh;
  top: 10px;
  width: 100%;
  position: sticky;
}

.leave {
  gap: 15px;
  display: flex;
  justify-content: center;
  position: absolute;
  left: auto;
  right: 0;
  bottom: 0;
  width: 100%;
  color: var(--light);
  font-weight: 700;
  padding-top: 15px;
  padding-bottom: 10px;
  border-top: 1px solid var(--light);
  transition: var(--transition);
  background-color: var(--transparent);
  margin-left: -15%;
}

.leave:hover {
  background-color: transparent;
}

aside::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #aabbac32;
}

aside .menu {
  padding: 25px;
  position: relative;
  z-index: 20;
}

aside .menu ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

aside .menu li a {
  font-weight: 700;
  color: var(--light);
  font-size: 18px;
  display: flex;
  gap: 18px;
  padding: 15px 20px;
  border-radius: 15px;
  transition: var(--transition);
  text-shadow: var(--shadow);
}

aside .menu li .active {
  background-color: var(--transparent);
}

aside .menu li a:hover {
  background-color: #fafafa32;
}

.aside-logo {
  width: 100%;
  overflow: hidden;
  z-index: 50;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 20px 0 10px 0;
  margin-left: -10%;
}

.aside-logo img {
  width: 100%;
  max-width: 140px;
}

aside .close {
  display: none;
  position: absolute;
  top: 25px;
  right: 15px;
  z-index: 300;
}

aside .close .material-symbols-outlined {
  color: var(--light);
  font-size: 24px;
}

/* main */

main {
  width: 80%;
  padding-bottom: 25px;
  overflow-x: hidden;
}

main.large {
  width: 95%;
}

.main-container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar {
  background-color: var(--light-alt);
  height: 50px;
  border-bottom: 1px solid var(--light-gray);
  overflow: hidden;
}

.top-bar > .main-container {
  height: 100%;
}

.top-bar .left,
.top-bar .right {
  display: flex;
  align-items: center;
  height: 100%;
}

.right .user {
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}

.right .user .image {
  border-radius: 50%;
  overflow: hidden;
  width: 34px;
  height: 34px;
  margin-left: 15px;
}

.right .user .image img {
  width: 100%;
}

.right .user .chevron {
  color: var(--dark-gray);
  font-size: 15px;
  transform: translateY(2px);
}

.user-name {
  color: var(--dark-gray);
  font-size: 12px;
}

.right .notifications {
  background-color: #eee;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

.left .menu {
  cursor: pointer;
}

.articles {
  gap: 15px;
  margin-top: 50px;
}

.article {
  border: 1px solid var(--light-gray);
  background-color: var(--light-alt);
  border-radius: 10px;
  padding: 20px;
  width: 33.33%;
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}

.article .material-symbols-outlined {
  font-size: 40px;
}

.article .content {
  text-align: left;
}

.article .content h4 {
  font-size: 25px;
}

.article .content span {
  color: var(--olive);
  font-size: 10px;
  text-transform: uppercase;
}

.main-icon {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  background-color: var(--green);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark-green);
  transition: var(--transition);
}

.article:hover .main-icon {
  background-color: var(--alternative-green);
}

/* activity */

.pay-container {
  overflow: hidden;
}

.payments {
  height: 360px;
}

.cont {
  padding: 20px;
  border: 1px solid var(--light-gray);
  background-color: var(--light-alt);
  border-radius: 10px;
  margin-top: 20px;
  width: 100%;
}

.payments h2 {
  margin-bottom: 15px;
}

.svg-line {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 32px);
  width: calc(100% - 58px);
  margin-left: auto;
  right: 0;
  pointer-events: none;
  display: block;
  z-index: 50;
}

polyline {
  fill: none;
  stroke: var(--bar);
  stroke-width: 0.5;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.bar-expenses {
  stroke: var(--bar-yellow);
}

circle {
  fill: var(--medium-green);
  stroke: var(--medium-green);
  vector-effect: non-scaling-stroke;
  r: 0.2;
  stroke-width: 5;
  cursor: pointer;
  pointer-events: all;
}

.circle-expense {
  fill: var(--medium-yellow);
  stroke: var(--medium-yellow);
}

.payments-container {
  position: relative;
  height: 100%;
}

.bars {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 58px);
  margin-left: auto;
  right: 0;
  height: calc(100% - 52px);
  display: flex;
  justify-content: space-between;
}

.bars .bar-group {
  display: flex;
  align-items: flex-end;
  width: 90px;
  gap: 5px;
  height: 100%;
}

.bars .bar {
  width: 50%;
  background-color: var(--alternative-bar);
  cursor: pointer;
  transition: var(--transition);
  position: relative;
}

.bars .bar:hover {
  opacity: 0.8;
  z-index: 500;
}

.bar:hover .info {
  display: flex !important;
}

.bar .info {
  background: var(--light-alt);
  color: var(--dark-green);
  padding: 12px;
  border: 1px solid var(--light-gray);
  position: absolute;
  top: -100px;
  z-index: 500;
}

.bars .bar:nth-of-type(2) {
  background-color: var(--bar);
}

.payments-container span {
  color: var(--olive);
  font-size: 13px;
}

/* simul */

.bars .bar-group:nth-of-type(1) .bar:nth-of-type(1) {
  height: 40%;
}

.bars .bar-group:nth-of-type(1) .bar:nth-of-type(2) {
  height: 60%;
}

.bars .bar-group:nth-of-type(2) .bar:nth-of-type(1) {
  height: 72%;
}

.bars .bar-group:nth-of-type(2) .bar:nth-of-type(2) {
  height: 45%;
}

.bars .bar-group:nth-of-type(3) .bar:nth-of-type(1) {
  height: 29%;
}

.bars .bar-group:nth-of-type(3) .bar:nth-of-type(2) {
  height: 31%;
}

.bars .bar-group:nth-of-type(4) .bar:nth-of-type(1) {
  height: 70%;
}

.bars .bar-group:nth-of-type(4) .bar:nth-of-type(2) {
  height: 23%;
}

.bars .bar-group:nth-of-type(5) .bar:nth-of-type(1) {
  height: 63%;
}

.bars .bar-group:nth-of-type(5) .bar:nth-of-type(2) {
  height: 84%;
}

.bars .bar-group:nth-of-type(6) .bar:nth-of-type(1) {
  height: 68%;
}

.bars .bar-group:nth-of-type(6) .bar:nth-of-type(2) {
  height: 24%;
}

.bars .bar-group:nth-of-type(7) .bar:nth-of-type(1) {
  height: 38%;
}

.bars .bar-group:nth-of-type(7) .bar:nth-of-type(2) {
  height: 14%;
}

.bars .bar-group:nth-of-type(8) .bar:nth-of-type(1) {
  height: 44%;
}

.bars .bar-group:nth-of-type(8) .bar:nth-of-type(2) {
  height: 54%;
}

/* / simul */

.rows {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row {
  border-bottom: 1px dotted var(--light-gray);
}

.columns {
  display: flex;
  justify-content: space-between;
  height: calc(100% - 30px);
  width: calc(100% - 105px);
  margin-left: auto;
}

.column {
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.dot {
  border-radius: 50%;
  width: 7px;
  height: 7px;
  position: absolute;
  left: 55px;
  bottom: 57px;
}

/* table */

.history {
  width: 100%;
  overflow-x: auto;
  margin-top: 15px;
  display: block;
}

table {
  width: 100%;
  border-collapse: collapse;
  min-width: 750px;
}

table tr {
  height: 40px;
}

table tr:nth-child(even) {
  background-color: var(--green);
}

table tr th {
  color: var(--dark-gray);
  font-weight: 700;
  font-size: 11px;
}

table tr td {
  font-size: 13px;
  color: var(--dark);
  padding: 0 15px;
}

table tr td:nth-of-type(1) {
  display: flex;
  align-items: center;
  height: 40px;
  justify-content: center;
}

table tr td:nth-of-type(1) .material-symbols-outlined {
  border-radius: 50%;
  background-color: var(--alternative-bar);
  padding: 15px;
  color: var(--light);
  width: 30px;
  height: 30px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  margin-top: 30px;
  padding: 20px 10px 0 10px;
  text-align: center;
  font-size: 12px;
  width: 100%;
  border-top: 1px dashed #dadada;
}

footer p a {
  color: var(--alternative-bar);
}

/* responsive settings 990, 767, 465 */

@media (max-width: 990px) {
  .user-name,
  .row:nth-of-type(6),
  .column:nth-of-type(6),
  .column:nth-of-type(7),
  .column:nth-of-type(8),
  .bar-group:nth-of-type(6),
  .bar-group:nth-of-type(7),
  .bar-group:nth-of-type(8),
  h2 .number,
  .leave p {
    display: none;
  }
  aside.short .leave p {
    display: block;
  }
  .overflow-y {
    overflow-y: hidden !important;
  }
  .aside-logo img {
    content: url("../images/marketpay-mob.webp");
  }
  aside.short .aside-logo img {
    content: url("../images/marketpay.webp");
  }
  aside {
    width: 5%;
    min-width: 70px;
    padding-top: 5px;
    z-index: 200;
  }
  aside.short {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 0;
  }
  aside.short .close {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  aside .menu p {
    display: none;
  }
  aside.short .menu p {
    display: block;
  }
  aside .aside-content {
    width: 100%;
  }
  aside .menu {
    padding: 15px;
  }
  aside .menu li a {
    justify-content: center;
    padding: 0;
    align-items: center;
    width: 100%;
    height: 45px;
  }
  aside.short .menu li a {
    justify-content: flex-start;
    padding: 0 15px;
    box-sizing: content-box;
  }
  aside .aside-logo img {
    width: 35px;
    margin: 0 auto;
    margin-right: 13px;
  }
  aside.short .aside-logo {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  aside.short .aside-logo img {
    width: 100%;
    margin: auto;
  }
  .aside-content {
    height: 100vh;
    top: 10px;
  }
  .leave {
    width: 100%;
    left: auto;
  }
  .main-container {
    flex-wrap: wrap;
  }
  .articles {
    margin-top: 30px;
    gap: 10px;
  }
  .article {
    width: 100%;
    padding: 15px;
    gap: 12px;
  }
  .article .main-icon {
    min-width: 50px;
    min-height: 50px;
    width: 50px;
    height: 50px;
  }
  .article .material-symbols-outlined {
    font-size: 30px;
  }
  .article .content h4 {
    font-size: 18px;
  }
  .columns,
  .bars {
    width: calc(100% - 30px);
  }
  .bars .bar-group {
    gap: 0px;
  }
}
